.body{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.div1 {
    background-color: white;
    width: auto;
    padding: auto;
    border-radius: 15px;
    padding-bottom: 10px;
    text-align: center;

}

.forms{
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;

}

.radio {
    display: inline;
    text-align: left;
    font-weight: lighter;
}

.checkbox {
    display: inline;
    text-align: left;
    font-weight: lighter;
}

.activities{
    text-align: left;
    padding-left: 20px;
}